<style>
 

    .text-shadow-1 {
        background-color: rgba(255, 255, 255, 0.35);
    }
</style>


<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">{{MainTitle}}</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class=" border-0 card card-cover h-100 overflow-hidden text-white   shadow-lg" style="background-image: 
        url({http://localhost:8081/api/firebase/{{Fimage}}}); 
         background-size: cover; background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{Ftitle}}</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="  border-0 card card-cover h-100 overflow-hidden text-white shadow-lg" style="background-image: url({http://localhost:8081/api/firebase/{{Simage}}});  background-size: cover; background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{Stitle}}</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class=" border-0 card card-cover h-100 overflow-hidden text-white shadow-lg" style="background-image: url({http://localhost:8081/api/firebase/{{Timage}}});  background-size: cover; background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{Ttitle}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>