<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">{{MainTitle}}</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
          <div   [style]="{ 'background-color': color }" class="feature-icon 
          d-flex justify-content-center align-items-center text-white p-3 rounded">
              <i  [class]="Fimage"  style="font-size: 2rem;"></i>
          </div>
          <h2>{{Ftitle}}</h2>
          <p>{{Fdescription}}</p>
          <a href="#" class="icon-link">
              Call to action <i class="bi bi-chevron-right"></i>
          </a>
      </div>

      <div class="feature col">
          <div  [style]="{ 'background-color': color }" class="feature-icon   d-flex justify-content-center align-items-center text-white p-3 rounded">
              <i  [class]="Simage" style="font-size: 2rem;"></i>
          </div>
          <h2>{{Stitle}}</h2>
          <p>{{Sdescription}}</p>
          <a href="#" class="icon-link">
              Call to action <i class="bi bi-chevron-right"></i>
          </a>
      </div>

      <div class="feature col">
          <div  [style]="{ 'background-color': color }" class="feature-icon   d-flex justify-content-center align-items-center  text-white p-3 rounded">
            <i  [class]="Timage" style="font-size: 2rem;"></i>
          </div>
          <h2>{{Tdescription}}</h2>
          <p>{{Tdescription}}</p>
          <a href="#" class="icon-link">
              Call to action <i class="bi bi-chevron-right"></i>
          </a>
      </div>
  </div>
</div>
