<div class="row align-items-stretch mb-5">
  <div class="col-lg-4 d-flex flex-column">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" [src]="Fimage" alt="">
    <div class="d-flex flex-column flex-grow-1">
      <h2>{{Ftitle}}</h2>
      <p>{{Fdescription}}</p>
      <div class="mt-auto">
        <a class="btn btn-secondary" href="#">View details »</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 d-flex flex-column">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" [src]="Simage" alt="">
    <div class="d-flex flex-column flex-grow-1">
      <h2>{{Stitle}}</h2>
      <p>{{Sdescription}}</p>
      <div class="mt-auto">
        <a class="btn btn-secondary" href="#">View details »</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 d-flex flex-column">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" [src]="Timage" alt="">
    <div class="d-flex flex-column flex-grow-1">
      <h2>{{Ttitle}}</h2>
      <p>{{Tdescription}}</p>
      <div class="mt-auto">
        <a class="btn btn-secondary" href="#">View details »</a>
      </div>
    </div>
  </div>
</div>
