
<div class="container marketing">
<div class="row align-items-stretch mb-5">
  <div class="col-lg-4 d-flex flex-column align-items-center text-start text-lg-start">
    <img class="bd-placeholder-img rounded-circle" width="180" height="180" [src]="Fimage" alt="">
    <div class=" mt-2 d-flex flex-column flex-grow-1">
      <h2>{{Ftitle}}</h2>
      <p>{{Fdescription}}</p>
      <div class="mt-auto">
        <a class="btn btn-secondary" href="#">View details »</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 d-flex flex-column align-items-center text-start text-lg-start">
    <img class="bd-placeholder-img rounded-circle" width="180" height="180" [src]="Simage" alt="">
    <div class="mt-2 d-flex flex-column flex-grow-1">
      <h2>{{Stitle}}</h2>
      <p>{{Sdescription}}</p>
      <div class="mt-auto">
        <a class="btn btn-secondary" href="#">View details »</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 d-flex flex-column align-items-center text-start text-lg-start">
    <img class="bd-placeholder-img rounded-circle" width="180" height="180"[src]="Timage" alt="">
    <div class="mt-2 d-flex flex-column flex-grow-1">
      <h2>{{Ttitle}}</h2>
      <p>{{Tdescription}}</p>
      <div class="mt-auto">
        <a class="btn btn-secondary" href="#">View details »</a>
      </div>
    </div>
  </div>
</div>

</div>