<section class="newsletter-area section-padding-100 bg-img bg-overlay jarallax" style="background-image: url({{Image}});">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="newsletter-content">
            <!-- Section Heading -->
            <div class="section-heading white text-center">
              <p>{{titleA}}</p>
              <h2>{{titleB}}</h2>
            </div>
            <p class="text-white mb-50 text-center">{{titleC}}</p>
          </div>
        </div>
      </div>
      <!-- Newsletter Form -->
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Enter your email">
            <button type="submit" class="btn famie-btn"
            
            [style]="{'background-color': color}"
             
            
            >Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>