<div class="container marketing">
  <div class="row featurette mb-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"   [style.color]="color">{{title}}</h2>
      <p class="lead">{{subtitle}}</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" [src]="imageUrl" alt="" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false">

    </div>
  </div>

  </div>